.DS_Store
**/.venv/
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/web_data/uploads/*
**/web_data/output/*
**/web_data/.alex/*
!**/web_data/uploads/.gitkeep
!**/web_data/output/.gitkeep
!**/web_data/.alex/.gitkeep
*.log
.env
.env.*
~$*
**/~$*
